.city-header {
    margin-top: 10px;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: 230px;
    border-radius: 5px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.city-img {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.city-img-block {
    display: inline-block;
    width: 40%;
    height: 95%;
    margin-top: 6px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
}

.city-info-block {
    margin-left: auto;
    width: 200px;
    border-radius: 5px;
    margin-top: 6px;
    margin-right: auto;
}

/* .city-cart-icon-block {
    float: right;
    width: 40px;
    height: 40px;
    margin-top: 15px;
}

.city-cart-icon {
    width: 100%;
    height: 100%;
} */

.city-name {
    display: inline-block;
    height: 50;
    font-size: 30px;
    margin-top: 30px;
    background-color: #bae0efad;
    border-radius: 20px;
    width: 200px;
    text-align: center;
}

.city-country-name {
    margin-right: auto;
    text-align: center;
    margin-left: auto;
    background-color: #bae0efad;
    border-radius: 5px;
    width: 50%;
    margin-top: -10px;
    font-style: unset;
}

.city-desc-block {
    margin-top: 10px;
    margin-left: 10px;
}

.spot-list-block {
    margin-top: 30px;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    border-radius: 5px;
}

.spot-list-desc {
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: -15px;
    font-size: 22px;
    display: block;
    position: absolute;
    height: 55px;
}

.spot-block {
    width: 95%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border-radius: 5px;
    background-color: #e9f3f059;
}

.spot-image-block {
    display: inline-block;
    width: 40%;
    height: 95%;
    margin-top: 5px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
}

.spot-image {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.spot-info-block {
    display: inline-block;
    float: right;
    width: 55%;
    height: 95%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 20px;
}

.spot-name {
    display: inline-block;
    height: 40px;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
    width: 85%;
}

.spot-add-icon-block {
    float: right;
    font-size: 30px;
    margin-top: 15px;
}

.spot-add-icon {
    width: 100%;
    height: 100%;
}

.city-desc-block {
    margin-top: 30px;
    margin-left: 10px;
    display: inline-block;
    width: 80%;
}

.spot-collapse-icon {
    color: black;
    font-size: 40px;
    float: right;
    margin-right: 3px;
    margin-top: 50px;
}

.float {
    bottom: 40px;
    background-color: #93d3fdcf;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #9e8f8f;
}

.spot-detail-block {
    display: block;
    height: 130px;
    width: 95%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e9f3f059;
}

.spot-desc {
    height: 90px;
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 18px;
}

.spot-time {
    height: 30px;
    margin-bottom: 5px;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 16px;
}