/* for schedule page */

.schedule-block {
    width: 100%;
    height: 670px;
}

.cart-button-row {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

.cart-dropdown {
    float: left;
    margin-right: 10px;
    height: 100%;
}

.cart-save-btn {
    float: right;
    height: 100%;
}

.cart-label {
    font-size: 25px;
    font-family: sans-serif;
}

.cart-block {
    float: left;
    width: 28%;
    height: 97%;
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    border-radius: 6px;
    padding: 10px;
    display: inline-block;
    /* overflow: scroll; */
}

.cart-table {
    margin-top: 15px;
    width: 100%;
}

.cart-list {
    width: 100%;
}

.cart-item {
    width: 100%;
    height: 70px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 10px;
}

.cart-spot-name {
    margin-left: 10px;
    font-size: 16px;
    margin-top: 10px;
    display: inline-block;
    width: 75%;
}

.block2:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.cart-add-icon {
    margin-right: 6px;
    margin-top: 17px;
    width: 26px;
    height: 26px;
    float: right;
}

.cart-delete-icon {
    margin-right: 10px;
    margin-top: 17px;
    width: 26px;
    height: 26px;
    float: right;
}

.cart-input-block {
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

.cart-input {
    display: inline-block;
    height: 15px;
}

.cart-input-form {
    border: 1px solid gray;
    border-radius: 6px;
}

.cart-add-btn {
    margin-left: 77%;
    width: 50px;
    height: 30px;
    font-size: 12px !important;
    margin-bottom: 8px;
}

.cart-input-label {
    margin-left: 5px;
    font-size: 15px;
    max-width: 35% !important;
    padding-right: 0px !important;
    padding-left: 20px !important;
}

.cart-input-row {
    width: 100%;
    margin-top: 10px;
    margin-bottom: -10px;
    height: 40px;
    display: block !important;
}

.cart-input-div {
    max-width: 60% !important;
    padding-right: 0px !important;
    display: inline-block !important;
}

.calendar-block {
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;
    height: 100%;
}

.save-error-msg {
    color: red;
    font-size: 15px;
    margin-left: 10px;
}