<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/ui.css') }}">
	<link rel="stylesheet" type="text/css" href="static/styles/auto.css">
	<script src="static/js/auto.js"></script>

    {% extends "bootstrap/base.html" %}
	{% import "bootstrap/wtf.html" as wtf %}
    {% block title %}ECE1779 A3{% endblock title %}
</head>



{% block navbar %}

	<h2>Welcome!</h2>

{%- endblock navbar %}




{% block content %}
	
	
<div class="container">	

		{% for message in get_flashed_messages(with_categories=True) %}
		<div class="alert alert-{{ message[0] }}">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message[1] }}
		</div>
		{% endfor %}
		

		<form autocomplete="off" method="post" >
		<div class="autocomplete" style="width:300px;">
			<input name="inputcity" id="myInput" type="text" placeholder="Search" >
		</div>
		<input type="submit" >


        </form>
		<script>
		autocomplete(document.getElementById("myInput"), cities);
		</script> 
	<!-- 	<button type="button" class="btn btnBlock"><a href="/search">Go</a></button> -->
		<br>
		{% if is_login == true %}
			<p class="userTitle"> Hello, {{ username }} </p>
			<button type="button" class="btn btnBlock"><a href="/logout">Logout</a></button>
		{% else %}
			<button type="button" class="btn btnBlock"><a href="/login">Login</a></button>
			<button type="button" class="btn btnBlock"><a href="/register">Register</a></button>
		{% endif %}
</div>	


{% endblock %}
